<div class="container">

    <form class="my-3 mx-3" [formGroup]="addStudentForm">
        <div class="row">
            <div class=" col-6 mb-3">
                <label class="form-label">{{"First Name"|translate}}</label>
                <input type="text" class="form-control" formControlName="firstNameControl">
                <span class="text-danger error " *ngIf="submitted&&addStudentForm.controls['firstNameControl'].hasError('required')">
                    {{"Required"|translate}}  
                </span>
            </div>
    
            <div class=" col-6 mb-3">
                <label class="form-label">{{"Last Name"|translate}}</label>
                <input type="text" class="form-control"  formControlName="lastNameControl">
                <span class="text-danger error" 
                *ngIf="submitted&&addStudentForm.controls['lastNameControl'].hasError('required')">
                {{"Required"|translate}} 
                 </span>

            </div>
        </div>
       
        <div class="row">
            <div class="col-6 mb-3">
                <label class="form-label">{{"Mobile"|translate}}</label>
                <input type="email" class="form-control"  formControlName="mobileControl">
            </div>
            <div class="col-6 mb-3">
                <label class="form-label">{{"Email"|translate}}</label>
                <input type="email" class="form-control"  formControlName="emailControl">
                <span class="text-danger error" 
                *ngIf="submitted&&addStudentForm.controls['emailControl'].hasError('email')">
                 {{"Invalid Email Format"|translate}}
                 </span>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-6 mb-3">
                <label class="form-label">{{"NationalID"|translate}}</label>
                <input type="text" class="form-control" formControlName="nidControl">
               
            </div>
            <div class="col-6 mb-3">
                <label class="form-label">{{"Age"|translate}}</label>
                <input type="text" class="form-control"  formControlName="ageControl">
            </div>
        </div>
       

        <button type="submit" class="btn btn-success mx-2" (click)="save()">{{"Save"|translate}}</button>
        <button type="button" class="btn btn-danger mx-2" (click)="closePopup()">{{"Close"|translate}}</button>

    </form>
</div>