

  .title-box::after {
    content: "";
    display: block;
    width: 3%; 
    height: 2px;  
    background-color: #3a8a05;
    animation: 1s linear infinite alternate-reverse moveLine;
    margin:0 50%;
  }
  @keyframes moveLine {
    0% {
      transform: translateX(-100%);  
    }
    100% {
      transform: translateX(100%); 
    }
  }